* {
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: white;
  text-align: center;
  margin: auto;
  width: 50%;
}

.heading {
  color: black;
  text-align: center;
}

.info_table {
  color: black;
  text-align: center;
  margin: auto;
  width: 50%;
}

.countdown {
  color:red;
  font-size: x-large;
}