* {
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div {
  padding-bottom: 40px;
}
.jumbotron {
  color: white;
  background-color: darkorange;
}


.countdown {
  background-color: white;
}

.info_table {
  color: black;
  background-color: lightgray;
  text-align: center;
  padding-bottom: 40px;
  padding-right: 30px; 
  padding-left: 30px; 
  margin: auto;
  width: 100%;
  height: 100px; 
}

.bottom {
  background-color: darkgray;
  text-align: center;
  margin: auto;
  width: 100%;
}