body {
    background-color: navy;
  }
title {
    color: red;
    text-align: center;
}
  
  h1 {
    color: white;
    text-align: center;
    padding: 15px;
  }
  h2 {
    color: white;
    text-align: center;
    padding: 15px;
  }

  h3 {
    color: white;
    text-align: center;
    padding: 15px;
  }
  
  p {
    font-family: verdana;
    color: white;
    text-align: center;
    font-size: 20px;
  }

  a {
    color: red;
    text-align: center;
    padding: 15px;
  }