{% load static %}
<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="{% static 'css/info_page.css' %}">

<head>
    <title>Our purpose</title>
    <h1>Voter Information Page</h1>
    <h2>Why are we doing this?</h2>
</head>

<content>
    <p>
        In 2016, about 138 million Americans voted. While that sounds like a lot, it represents just 58.1% of the eligible voters in this country. 
        In fact this number has been slowly decreasing for the past 40 years, in 1980, that percentage was over 80%. The smallest group that voted? People 
        aged 18-24, college kids, new graduates, graduate students, etc.
    </p> 
    <img src="/media/images/Voter_Turnout_by_Sex_and_Age,_2008_US_Presidential_Election.png" alt="Voter Turnout by Age" class="center">
    <p>  
        Considering that it is these peoples that will be taking the brunt of many polcies
        that come from elections, from economic policy, student loan and education policy, climate policy, healthcare, and the job market, it has never been a better
        time for young people to vote. This website attempts to start that, in a contentious election year in which young people from all over the country 
        can make a differnence. The resources here allow you to register to vote, request a mail in/absentee ballot, learn about early voting, and ensuring 
        your vote is counted. 
    </p>
</content>

</html>