* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  body {
    background-color: white;
    text-align: center;
    margin: auto;
    width: 50%;
  }
  
  .heading {
    color: #fd6a02;
    text-align: center;
  }

  .page_header {
    background-color: white;
    text-align: center;
  }


h3 {
  color:black;
  text-align: center;
  margin: auto;
  width: 50%;
}

.registration_link {
  color: blue;
  
}