{% extends "base.html" %}

{% block page_content %}

<h1>Voter Information Page</h1>

<h2>Find your state and learn how to register, vote, and ensure your ballot get counted!!</h2>

<h3>Alabama</h3>

<a href=https://www.vote.org/state/alabama/>Alabama Voter Information</a>

<h3>Alaska</h3>

<a href=https://www.vote.org/state/alaska/>Alaska Voter Information</a>

<h3>Arizona</h3>

<a href=https://www.vote.org/state/arizona/>Arizona Voter Information</a>

<h3>Arkansas</h3>

<a href=https://www.vote.org/state/arkansas/>Arkansas Voter Information</a>

<h3> California</h3>

<a href=https://www.vote.org/state/california/>California Voter Information</a>

<h3>Colorado</h3>

<a href=https://www.vote.org/state/colorado/>Colorado Voter Information</a>

<h3>Connecticut</h3>

<a href=https://www.vote.org/state/connecticut/>Connecticut Voter Information</a>
Delaware
Florida
<h3> Georgia </h3>

<a href=https://www.vote.org/state/georgia>Georgia Voter Information</a>
Hawaii
Idaho
Illinois
Indiana
Iowa
Kansas
Kentucky
Louisiana
Maine
Maryland
Massachusetts
Michigan
Minnesota
Mississippi
Missouri
Montana
Nebraska
Nevada
New Hampshire
New Jersey
New Mexico
New York
North Carolina
North Dakota
Ohio
Oklahoma
Oregon
Pennsylvania
Rhode Island
South Carolina
South Dakota
Tennessee
Texas
Utah
Vermont
Virginia
Washington
West Virginia
Wisconsin
Wyoming

{% endblock %}


