{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title >Voter Information Page</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/voter_info.css' %}">
</head>
<div class="top">
    <h1 class= "jumbotron">Voter Information Page</h1>
    <h3>Find your state and learn how to register, vote, and ensure your ballot gets counted!!</h3>
</div>



<body>
    <label for="state">Choose your state: </label>
    <select name="state" id="state">
        <option value="Choose">Select</option>
        <option value="Alabama">Alabama</option>
        <option value="Alaska">Alaska</option>
        <option value="Arizona">Arizona</option>
        <option value="Arkansas">Arkansas</option>
        <option value="California">California</option>
        <option value="Colorado">Colorado</option>
        <option value="Connecticut">Connecticut</option>
        <option value="Delaware">Delaware</option>
        <option value="Florida">Florida</option>
        <option value="Georgia">Georgia</option>
        <option value="Hawaii">Hawaii</option>
        <option value="Idaho">Idaho</option>
        <option value="Illinois">Illinois</option>
        <option value="Indiana">Indiana</option>
        <option value="Iowa">Iowa</option>
        <option value="Kansas">Kansas</option>
        <option value="Kentucky">Kentucky</option>
        <option value="Louisiana">Louisiana</option>
        <option value="Maine">Maine</option>
        <option value="Maryland">Maryland</option>
        <option value="Massachusetts">Massachusetts</option>
        <option value="Michigan">Michigan</option>
        <option value="Minnesota">Minnesota</option>
        <option value="Mississippi">Mississippi</option>
        <option value="Missouri">Missouri</option>
        <option value="Montana">Montana</option>
        <option value="Nebraska">Nebraska</option>
        <option value="Nevada">Nevada</option>
        <option value="New Hampshire">New Hampshire</option>
        <option value="New Jersey">New Jersey</option>
        <option value="New Mexico">New Mexico</option>
        <option value="New York"> New York</option>
        <option value="North Carolina">North Carolina</option>
        <option value="North Dakota">North Dakota</option>
        <option value="Ohio">Ohio</option>
        <option value="Oklahoma">Oklahoma</option>
        <option value="Oregon">Oregon</option>
        <option value="Pennsylvania">Pennsylvania</option>
        <option value="Rhode Island">Rhode Island</option>
        <option value="South Carolina">South Carolina</option>
        <option value="South Dakota">South Dakota</option>
        <option value="Tennessee">Tennessee</option>
        <option value="Texas">Texas</option>
        <option value="Utah">Utah</option>
        <option value="Vermont">Vermont</option>
        <option value="Virginia">Virginia</option>
        <option value="Washington">Washington</option>
        <option value="Washington D.C.">Washington D.C.</option>
        <option value="West Virginia">West Virginia</option>
        <option value="Wisconsin">Wisconsin</option>
        <option value="Wyoming">Wyoming</option>
    </select>
    
    <div class ="filler_white">

    </div>
    
    <h4 class="state_label" change="change_state()" id="state_name"></h4>
    <a class="registration_link" id='registration_link'></a>
    <h6 class="deadline" change="change_state()" id="registration_deadline"></h6>
 
    
    <script>
        var select = document.querySelector('select');
        var state_name = document.querySelector('h4');
        var link = document.getElementById('registration_link');
        var reg_deadline = document.getElementById('registration_deadline')

        select.addEventListener('change', change_state);

        function change_state() {
            if (select.value === "Choose") {
                state_name.textContent = "";
                
            }
            else {
                var curr_state = String(select.value).toLowerCase();
                state_name.textContent = select.value;
                link.textContent = "Register Here";
                var split = curr_state.split(" ");
                var link_beg = "https://www.vote.org/state/"
                if (split.length === 1) {
                    link.setAttribute('href', link_beg.concat(curr_state));
                } 
                else {
                    var i;
                    var address = link_beg.concat(split.join("-"));
                    link.setAttribute('href', address);
                }
            }
            if (select.value === "Alabama") {
                  reg_deadline.textContent = "Registration Deadline: October 19th, 2020";
            } 
            else if (select.value === 'Alaska') {
                  reg_deadline.textContent = "Registration Deadline: October 4th, 2020";
            }
            else if (select.value === 'Arizona') {
                  reg_deadline.textContent = "Registration Deadline: October 5th, 2020";
            }
            else if (select.value === 'Arkansas') {
                  reg_deadline.textContent = "Registration Deadline: October 5th, 2020";
            }
            else if (select.value === 'California') {
                  reg_deadline.textContent = "Registration Deadline: October 19th, 2020, or in-person on Nov. 3";
            }
            else if (select.value === 'Colorado') {
                 reg_deadline.textContent = "Registration Deadline: October 26th, 2020, or in-person on Nov. 3";
            }
            else if (select.value === 'Connecticut') {
                  reg_deadline.textContent = "Registration Deadline: October 27th, 2020, or in-person on Nov. 3";
            }
            else if (select.value === 'Delaware') {
                  reg_deadline.textContent = "Registration Deadline: October 10th, 2020";
            }
            else if (select.value === 'Florida') {
                  reg_deadline.textContent = "Registration Deadline: October 5th, 2020";
            }
            else if (select.value === 'Georgia') {
                  reg_deadline.textContent = "Registration Deadline: October 5th, 2020";
            }
            else if (select.value === 'Hawaii') {
                 reg_deadline.textContent = "Registration Deadline: October 5th, 2020, or in-person on Nov. 3";
            }
            else if (select.value === 'Idaho') {
                  reg_deadline.textContent = "Registration Deadline: October 9th, 2020, or in-person on Nov. 3";
            }
            else if (select.value === 'Illinois') {
                 reg_deadline.textContent = "Registration Deadline: October 6th, 2020, or in-person on Nov. 3";
            }
            else if (select.value === 'Indiana') {
                  reg_deadline.textContent = "Registration Deadline: October 5th, 2020";
            }
            else if (select.value === 'Iowa') {
                  reg_deadline.textContent = "Registration Deadline: October 24th, 2020, or in-person on Nov. 3";
            }
            else if (select.value === 'Kansas') {
                  reg_deadline.textContent = "Registration Deadline: October 13th, 2020";
            }
            else if (select.value === 'Kentucky') {
                  reg_deadline.textContent = "Registration Deadline: October 5th, 2020";
            }
            if (select.value === 'Louisiana') {
                  reg_deadline.textContent = "Registration Deadline: October 5th, 2020";
            }
            if (select.value === 'Maine') {
                  reg_deadline.textContent = "Registration Deadline: October 13th, 2020, or in-person on Nov. 3";
            }
            if (select.value === 'Maryland') {
                  reg_deadline.textContent = "Registration Deadline: October 13th, 2020, or in-person on Nov. 3";
            }
            if (select.value === 'Massachusetts') {
                  reg_deadline.textContent = "Registration Deadline: October 24th, 2020";
            }
            if (select.value === 'Michigan') {
                  reg_deadline.textContent = "Registration Deadline: October 19th, 2020, or in-person on Nov. 3";
            }
            if (select.value === 'Minnesota') {
                 reg_deadline.textContent = "Registration Deadline: October 13th, 2020, or in-person on Nov. 3";
            }
            if (select.value === 'Mississippi') {
                  reg_deadline.textContent = "Registration Deadline: October 5th, 2020";
            }
            if (select.value === 'Missouri') {
                 reg_deadline.textContent = "Registration Deadline: October 7th, 2020";
            }
            if (select.value === 'Montana') {
                  reg_deadline.textContent = "Registration Deadline: October 26th, 2020, or in-person on Nov. 3";
            }
            if (select.value === 'Nebraska') {
                 reg_deadline.textContent = "Registration Deadline: October 16th, 2020";
            }
            if (select.value === 'Nevada') {
                  reg_deadline.textContent = "Registration Deadline: October 6th, 2020, or in-person on Nov. 3";
            }
            if (select.value === 'New Hampshire') {
                 reg_deadline.textContent = "Registration Deadline: October 21th, 2020, or in-person on Nov. 3";
            }
            if (select.value === 'New Jersey') {
                 reg_deadline.textContent = "Registration Deadline: October 13th, 2020";
            }
            if (select.value === 'New Mexico') {
                 reg_deadline.textContent = "Registration Deadline: October 6th, 2020";
            }
            if (select.value === 'New York') {
                 reg_deadline.textContent = "Registration Deadline: October 9th, 2020";
            }
            if (select.value === 'North Carolina') {
                  reg_deadline.textContent = "Registration Deadline: October 9th, 2020";
            }
            if (select.value === 'North Dakota') {
                  reg_deadline.textContent = "Registration Deadline: No registration needed";
            }
            if (select.value === 'Ohio') {
                 reg_deadline.textContent = "Registration Deadline: October 5th, 2020";
            }
            if (select.value == 'Oklahoma') {
                  reg_deadline.textContent = "Registration Deadline: October 9th, 2020";
            }
            if (select.value == 'Oregon') {
                  reg_deadline.textContent = "Registration Deadline: October 13th, 2020";
            }
            if (select.value == 'Pennsylvania') {
                  reg_Deadline.textContent = "Registration Deadline: October 19th, 2020";
            }
            if (select.value ==='Rhode Island') {
                  reg_Deadline.textContent = "Registration Deadline: October 4th, 2020, or in-person on Nov. 3";
            }
            if (select.value === 'South Carolina') {
                  reg_Deadline.textContent = "Registration Deadline: October 5th, 2020";
            }
            if (select.value === 'South Dakota') {
                  reg_deadline.textContent = "Registration Deadline: October 19th, 2020";
            }
            if (select.value === 'Tennessee') {
                  reg_deadline.textContent = "Registration Deadline: October 5th, 2020";
            }
            if (select.value === 'Texas') {
                  reg_deadline.textContent = "Registration Deadline: October 5th, 2020";
            }
            if (select.value === 'Utah') {
                  reg_deadline.textContent = "Registration Deadline: October 23th, 2020, or in-person on Nov. 3";
            }
            if (select.value === 'Vermont') {
                  reg_deadline.textContent = "Registration Deadline: November 3rd, 2020, or in-person on Nov. 3";
            }
            if (select.value === 'Virginia') {
                  reg_deadline.textContent = "Registration Deadline: October 13th, 2020";
            }
            if (select.value === 'Washington') {
                  reg_deadline.textContent = "Registration Deadline: October 26th, 2020, or in-person on Nov. 3";
            }
            if (select.value === 'Washington D.C.') {
                  reg_deadline.textContent = "Registration Deadline: October 13th, 2020, or in-person on Nov. 3";
            }
            if (select.value === 'West Virginia') {
                  reg_deadline.textContent = "Registration Deadline: October 13th, 2020";
            }
            if (select.value == 'Wisconsin') {
                  reg_deadline.textContent = "Registration Deadline: October 14th, 2020 online/mail-in; October 30th, 2020 in person, or in-person on Nov. 3";
            }
            if (select.value ==='Wyoming') {
                  reg_deadline.textContent = "Registration Deadline: October 19th, 2020, or in-person on Nov. 3";
            }
        }
    </script>

    
<div class ="filler_white">

</div>

<div class ="filler">

</div>

<div class="bottom">
    <h4>Website Map</h4>
    <a href="{% url 'home_page' %}">Home</a>
    <br>
    <a href="https://www.vote.org/register-to-vote/">Register to Vote</a>
    <br>
    <a href="{% url 'voter_info' %}">Voting Info</a>
    <br>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfhZrI2FU2DxWwAaBAdYS_DmKOWv_r9kOB3VYwgZvLz-N-L8g/viewform">Submit your voter registration</a>
    <br>
    <a href="{% url 'info_page' %}">About us</a>
    <br>
</div>
  
</body>
</html>