{% load static %}
<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="{% static 'css/voter_info.css' %}">

<head>
    <title>Voter Information Page</title>
    <h2>Find your state and learn how to register, vote, and ensure your ballot get counted!!</h2>
</head>

<content>
    <h3>Alabama</h3>

    <a href=https://www.vote.org/state/alabama/>Alabama Voter Information</a>

    <h3>Alaska</h3>

    <a href=https://www.vote.org/state/alaska/>Alaska Voter Information</a>

    <h3>Arizona</h3>

    <a href=https://www.vote.org/state/arizona/>Arizona Voter Information</a>

    <h3>Arkansas</h3>

    <a href=https://www.vote.org/state/arkansas/>Arkansas Voter Information</a>

    <h3> California</h3>

    <a href=https://www.vote.org/state/california/>California Voter Information</a>

    <h3>Colorado</h3>

    <a href=https://www.vote.org/state/colorado/>Colorado Voter Information</a>

    <h3>Connecticut</h3>

    <a href=https://www.vote.org/state/connecticut/>Connecticut Voter Information</a>

    <h3>Delaware</h3>

    <a href=https://www.vote.org/state/delaware/>Delaware Voter Information</a>

    <h3>Florida</h3>

    <a href=https://www.vote.org/state/florida/>Florida Voter Information</a>

    <h3> Georgia </h3>

    <a href=https://www.vote.org/state/georgia>Georgia Voter Information</a>

    <h3>Hawaii</h3>

    <a href=https://www.vote.org/state/hawaii/>Hawaii Voter Information</a>

    <h3>Idaho</h3>

    <a href=https://www.vote.org/state/idaho/>Idaho Voter Information</a>

    <h3>Illinois</h3>

    <a href=https://www.vote.org/state/illinois/>Illinois Voter Information</a>

    <h3>Indiana</h3>

    <a href=https://www.vote.org/state/indiana/>Indiana Voter Information</a>

    <h3>Idaho</h3>

    <a href=https://www.vote.org/state/iowa/>Iowa Voter Information</a>

    <h3>Kansas</h3>

    <a href=https://www.vote.org/state/kansas/>Idaho Voter Information</a>

    <h3>Kentucky</h3>

    <a href=https://www.vote.org/state/kentucky/>Kentucky Voter Information</a>

    <h3>Louisiana</h3>

    <a href=https://www.vote.org/state/Louisiana/>Idaho Voter Information</a>

    <h3>Maine</h3>

    <a href=https://www.vote.org/state/maine/>Maine Voter Information</a>

    <h3>Maryland</h3>

    <a href=https://www.vote.org/state/maryland/>Maryland Voter Information</a>

    <h3>Massachusetts</h3>

    <a href=https://www.vote.org/state/massachusetts/>Massachusetts Voter Information</a>

    <h3>Michigan</h3>

    <a href=https://www.vote.org/state/michigan/>Michigan Voter Information</a>

    <h3>Minnesota</h3>

    <a href=https://www.vote.org/state/minnesota/>Minnesota Voter Information</a>

    <h3>Mississippi</h3>

    <a href=https://www.vote.org/state/mississippi/>Mississippi Voter Information</a>

    <h3>Missouri</h3>

    <a href=https://www.vote.org/state/missouri/>Missouri Voter Information</a>

    <h3>Montana</h3>

    <a href=https://www.vote.org/state/montana/>Montana Voter Information</a>

    <h3>Nebraska</h3>

    <a href=https://www.vote.org/state/nebraska/>Nebraska Voter Information</a>

    <h3>Nevada</h3>

    <a href=https://www.vote.org/state/nevada/>Nevada Voter Information</a>

    <h3>New Hampshire</h3>

    <a href=https://www.vote.org/state/new-hampsire/>New Hampshire Voter Information</a>

    <h3>New Jersey</h3>

    <a href=https://www.vote.org/state/new-jersey/>New Jersey Voter Information</a>

    <h3>New Mexico</h3>

    <a href=https://www.vote.org/state/new-mexico/>New Mexico Voter Information</a>

    <h3>New York</h3>

    <a href=https://www.vote.org/state/new-york/>New York Voter Information</a>

    <h3>North Carolina</h3>

    <a href=https://www.vote.org/state/north-carolina/>North Carolina Voter Information</a>

    <h3>North Dakota</h3>

    <a href=https://www.vote.org/state/north-dakota/>North DakotaVoter Information</a>

    <h3>Ohio</h3>

    <a href=https://www.vote.org/state/ohio/>Ohio Voter Information</a>

    <h3>Oklahoma</h3>

    <a href=https://www.vote.org/state/oklahoma/>Oklahoma Voter Information</a>

    <h3>Oregon</h3>

    <a href=https://www.vote.org/state/oregon/>Oregon Voter Information</a>

    <h3>Pennsylvania</h3>

    <a href=https://www.vote.org/state/pennsylvania/>Pennsylvania Voter Information</a>

    <h3>Rhode Island</h3>

    <a href=https://www.vote.org/state/rhode-island/>Rhode Island Voter Information</a>

    <h3>Sorth Carolina</h3>

    <a href=https://www.vote.org/state/sorth-carolina/>Sorth Carolina Voter Information</a>

    <h3>South Dakota</h3>

    <a href=https://www.vote.org/state/south-dakota/>South Dakota Voter Information</a>

    <h3>Tennessee</h3>

    <a href=https://www.vote.org/state/tennessee/>Tennessee Voter Information</a>

    <h3>Texas</h3>

    <a href=https://www.vote.org/state/texas/>Texas Voter Information</a>

    <h3>Utah</h3>

    <a href=https://www.vote.org/state/utah/>Utah Voter Information</a>

    <h3>Vermont</h3>

    <a href=https://www.vote.org/state/vermont/>Vermont Voter Information</a>

    <h3>Virginia</h3>

    <a href=https://www.vote.org/state/virginia/>Virginia Voter Information</a>

    <h3>Washington</h3>

    <a href=https://www.vote.org/state/washington/>Washington Voter Information</a>

    <h3>Washington D.C</h3>

    <a href=https://www.vote.org/state/district-of-columbia//>Washington D.C Voter Information</a>

    <h3>West Virginia</h3>

    <a href=https://www.vote.org/state/west-virginia/>West Virginia Voter Information</a>

    <h3>Wisconsin</h3>

    <a href=https://www.vote.org/state/wisconsin/>Wisconsin Voter Information</a>

    <h3>Wyoming</h3>

    <a href=https://www.vote.org/state/wyoming/>Wyoming Voter Information</a>
</content>


</html>