{% load static %}
<!DOCTYPE html>
<html lang="en">

<head> 
    <title>Vote Caltech!</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_page.css' %}">
</head>

<div class="top">
    <h1 style="text-align: center;" class="jumbotron">Welcome to Vote Caltech</h1>
    <h4 style="text-align: center;">This will be your hub for learning about voting in all the states</h4>
</div>



<body>
  <div class="countdown">
    <h4 style="text-align: center;">Countdown until Election Day</h4> 
    <h1  style="text-align: center;" id="demo" class="clock"></h1>
    <h4 style="text-align: center;">November 3, 2020</h4>
  </div>
<script>
  // Set the date we're counting down to
  var countDownDate = new Date("Nov 3, 2020 19:00:000").getTime();

  // Update the count down every 1 second
  var x = setInterval(function() {

    // Get today's date and time
    var now = new Date().getTime();

    // Find the distance between now and the count down date
    var distance = countDownDate - now;

    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    // Display the result in the element with id="demo"
    document.getElementById("demo").innerHTML = days + "d " + hours + "h "
    + minutes + "m " + seconds + "s ";

    // If the count down is finished, write some text 
    if (distance < 0) {
      clearInterval(x);
      document.getElementById("demo").innerHTML = "Election Day has Passed!";
    }
  }, 1000);
</script>

<div class ="filler">

</div>

<div style="background-color: darkgray;">
  <div class="row">
    <div class="column">
      <p>Register to Vote!
        <a href="https://www.vote.org/register-to-vote/">Register to Vote</a>
      </p>
      <p>Submit Voting Registration!
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfhZrI2FU2DxWwAaBAdYS_DmKOWv_r9kOB3VYwgZvLz-N-L8g/viewform">Go to Submission</a>
      </p>
    </div>
    <div class="column">
      <p>Learn about voting in your state!
        <a href="{% url 'voter_info' %}">Voter Information</a>
      </p>
      <p>Learn about us!!
              <a href="{% url 'info_page' %}">About us</a>
      </p>
    </div>
  </div>
</div>



<div class ="filler">

</div>


<div class="row">
  <div class="column">
    <h4>States Deadlines Already Passed</h4>
    <ul style="list-style-type:none;">
      <li>Alabama</li>
      <li>Alaska</li>
      <li>Arizona</li>
      <li>Arkansas</li>
      <li>Delaware</li>
      <li>Florida</li>
      <li>Georgia</li>
      <li>Indiana</li>
      <li>Kansas</li>
      <li>Kentucky</li>
      <li>Louisiana</li>
      <li>Mississippi</li>
      <li>Missouri</li>
      <li>Nebraska</li>
      <li>New Jersey</li>
      <li>New York</li>
      <li>New Mexico</li>
      <li>North Carolina</li>
      <li>Ohio</li>
      <li>Oklahoma</li>
      <li>Oregon</li>
      <li>Pennsylvania</li>
      <li>South Carolina</li>
      <li>South Dakota</li>
      <li>Tennessee</li>
      <li>Texas</li>
      <li>Virginia</li>
      <li>West Virginia</li>
    </ul>
  </div>
  
  <div class="column">
    <h4>States still registering voters</h4>
    <ul style="list-style-type:none;">
      <li>Colorado</li>
      <li>Connecticut</li>
      <li>Iowa</li>
      <li>Massachusetts</li>
      <li>Montana</li>
      <li>North Dakota (no registration needed)</li>
      <li>Utah</li>
      <li>Vermont</li>
      <li>Washington</li>
      <li>Wisconson (register for in-person voting)</li>

    </ul>
  </div>
  <div class="column">
    <h4> Can register on Election Day</h4>
    <ul style="list-style-type:none;">
      <li>California</li>
      <li>Colorado</li>
      <li>Connecticut</li>
      <li>Hawaii</li>
      <li>Idaho</li>
      <li>Illinois</li>
      <li>Iowa</li>
      <li>Maine</li>
      <li>Maryland</li>
      <li>Michigan</li>
      <li>Minnesota</li>
      <li>Montana</li>
      <li>Nevada</li>
      <li>New Hampshire</li>
      <li>Rhode Island</li>
      <li>Utah</li>
      <li>Vermont</li>
      <li>Washington</li>
      <li>Washington D.C</li>
      <li>Wisconson</li>
      <li>Wyoming</li>
    </ul>
  </div>
</div>


<div class ="filler">

</div>

    <footer  class="bottom">
      <h4>Website Map</h4>
      <a href="{% url 'home_page' %}">Home</a>
      <br>
      <a href="https://www.vote.org/register-to-vote/">Register to Vote</a>
      <br>
      <a href="{% url 'voter_info' %}">Voting Info</a>
      <br>
      <a href="www.google.com">Submit your voter registration</a>
      <br>
      <a href="{% url 'info_page' %}">About us</a>
      <br>
    </footer>
        
    
</body>




</html>